.link {
  text-decoration: none;
  color: inherit;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid teal;
  background-color: white;
  color: teal;
}

.tab.active {
  background-color: teal;
  color: white;
}

.post.latest {
  display: flex;
  flex-direction: row-reverse; /* This will place the image on the left and content on the right */
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  align-items: center;
}

.post.latest .img {
  flex: 1;
}

.post.latest .content {
  flex: 2;
}

.img {
  position: relative;
}

.img::after {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 20px;
  left: -20px;
  z-index: -1;
}

img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0 !important;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

button {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid teal;
  color: teal;
}

button:hover {
  border: 1px solid white;
  background-color: #b9e7e7;
  color: black;
}

.post.latest {
  display: flex;
  flex-direction: row-reverse; /* This will place the image on the left and content on the right */
  gap: 20px;
}

.post.latest .img {
  flex: 1;
}

.post.latest .content {
  flex: 2;
}

.divider {
  width: 60px;
  height: 5px;
  background-color: #d9ffb6;
  border: 0.5px solid black;
  margin-bottom: 30px;
  border-radius: 10px;
}

.first-title {
  display: flex;
  justify-content: space-between;
}

.divider-text {
  width: 100%;
  border: 1px dashed black;
  margin-bottom: 60px;
  margin-top: 20px;
}

.faq {
  margin-top: 20px;
  border: none;
}

.post-card {
  height: 300px; /* Set a fixed height for all post cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card:hover {
 
 background-color: #332e2e;
}

.post-card:hover .link-title {
  color: white;
}
.post-card:hover .link-desc {
  color: white;
}
.link-title{
 font-family:  Inter,sans-serif;
}
.post-card:hover .reading {
  color: white;
}